<div class="form-container">
  <h1>Forgot Password</h1>
  
  {{#if success}}
    <div class="flash flash-success">
      {{success}}
    </div>
  {{/if}}
  
  {{#if errors}}
    <div class="character-error-box">
      <ul>
        {{#each errors}}
          <li>{{this.msg}}</li>
        {{/each}}
      </ul>
    </div>
  {{/if}}
  
  <p style="text-align: center; color: var(--text-light); margin-bottom: 25px;">
    Enter your email address and we'll send you a link to reset your password.
  </p>
  
  <form method="POST" action="/auth/forgot-password">
    <label>Email Address</label>
    <input 
      type="email" 
      name="email" 
      placeholder="Enter your email" 
      required 
      value="{{oldInput.email}}"
    />
    
    <button class="btn-create" type="submit">Send Reset Link</button>
  </form>
  
  <div style="text-align: center; margin-top: 20px;">
    <a href="/auth/login" style="color: var(--primary-blue);">← Back to Login</a>
  </div>
</div>