<div class="error-container">
  <div class="error-content">
    <h1 class="glitch-text" data-text="404">404</h1>
    <h2>Wubba Lubba Dub Dub!</h2>
    <p>Aw geez, You clicked the wrong portal. This dimension (Page) doesn't
      exist.</p>

    <div class="portal-wrapper">
      <img
        src="https://media.giphy.com/media/l41lFw057lAJQMwg0/giphy.gif"
        alt="Rick and Morty Portal"
        class="error-image"
      />
    </div>

    <div class="error-actions">
      <a href="/" class="btn-create">Go Back Home</a>
    </div>
  </div>
</div>