<div class="dashboard-page">
  <h1 class="dashboard-title">MULTIVERSE ANALYTICS DASHBOARD</h1>

  <div class="chart-wrapper">
    <iframe
      style="background:#FFFFFF;border:none;border-radius:6px;width:100%;height:650px;box-shadow:0 0 25px rgba(68,214,44,0.3);"
      src="https://charts.mongodb.com/charts-ite-5315-allstars-bcnnkys/embed/charts?id=25398740-218c-4074-a809-fc9254f576ac&maxDataAge=14400&theme=light&autoRefresh=true">
    </iframe>
  </div>
</div>
